<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clicxel">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clicxel">
        <activity
            android:name=".biometric"
            android:exported="true" />
        <activity
            android:name=".dashboardgoogle"
            android:exported="true" />
        <activity
            android:name=".google"
            android:exported="true" >
        </activity>
        <activity
            android:name=".editor"
            android:exported="true" />
        <activity
            android:name=".dashboard"
            android:exported="true">

        </activity>
        <activity
            android:name=".manageotp"
            android:exported="true" />
        <activity
            android:name=".phoneNo"
            android:exported="true" />
        <activity
            android:name=".emailVerification"
            android:exported="true" />
        <activity android:name=".filter" />
        <activity android:name=".email" />
        <activity android:name=".signup" />
        <activity android:name=".login" >

        </activity>
        <activity android:name=".mainpage" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity" />
        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity" />
        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>